.WisdomForm {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.WisdomForm textarea {
  width: 320px;
  height: 120px;
  font-size: 30px;
}

.glow textarea {
  outline-color: blueviolet;
  border-radius: 5%;
}
