.WisdomSquare {
  width: 300px;
  height: 300px;
  background-color: darkgreen;
  margin: auto;
  margin-top: 3%;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  color: azure;
}

.new {
  font-size: 130px;
}
